@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to your CSS file or a style block in your component */
.custom-scrollbar {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #4a4a4a #e0e0e0; /* For Firefox */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #e0e0e0; /* Background of the scrollbar track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #4a4a4a; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the scrollbar thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #333; /* Darker color when hovering over the scrollbar thumb */
}
